@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <title>signalR聊天</title>
    <script src="~/Scripts/layer.js"></script>
    <script src="~/Scripts/laypage.js"></script>
    <link href="~/Scripts/skin/layer.css" rel="stylesheet" />
    <style>
        .rightmsg {
            float: right;
            clear: both;
            margin: 5px;
            text-align: right;
            max-width: 70%;
        }

        .leftmsg {
            float: left;
            clear: both;
            margin: 5px;
            text-align: left;
            max-width: 70%;
        }

        .rightcon {
            background-color: lightpink;
            text-align: left;
        }

        .leftcon {
            background-color: lightgray;
        }

        #OnlineUsers dl {
            cursor: pointer;
            background-color: lightblue;
            margin: 2px;
            height: 30px;
            line-height: 30px;
        }

        #OnlineUsers .toAll {
            background-color: blue;
        }

        .bd1 {
            border:1px solid red;
        }

        .container {
            float: left;
            border: 1px solid black;
            height: 500px;
            width: 500px;
            position: absolute;
            background-color: lightblue;
        }
    </style>
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script>
        // 表情
        var emoji = {
            "[最右]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/c8/lxhzuiyou_thumb.gif",
            "[泪流满面]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/64/lxhtongku_thumb.gif",
            "[江南style]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/67/gangnamstyle_thumb.gif",
            "[偷乐]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/fa/lxhtouxiao_thumb.gif",
            "[加油啊]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/03/lxhjiayou_thumb.gif",
            "[doge]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/b6/doge_thumb.gif",
            "[喵喵]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/4a/mm_thumb.gif",
            "[笑cry]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/34/xiaoku_thumb.gif",
            "[xkl转圈]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/f4/xklzhuanquan_thumb.gif",
            "[微笑]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/5c/huanglianwx_thumb.gif",
            "[嘻嘻]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/0b/tootha_thumb.gif",
            "[哈哈]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/6a/laugh.gif",
            "[可爱]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/14/tza_thumb.gif",
            "[可怜]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/af/kl_thumb.gif",
            "[挖鼻]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/0b/wabi_thumb.gif",
            "[吃惊]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/f4/cj_thumb.gif",
            "[害羞]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/6e/shamea_thumb.gif",
            "[挤眼]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/c3/zy_thumb.gif",
            "[闭嘴]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/29/bz_thumb.gif",
            "[鄙视]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/71/bs2_thumb.gif",
            "[爱你]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/6d/lovea_thumb.gif",
            "[泪]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/9d/sada_thumb.gif",
            "[偷笑]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/19/heia_thumb.gif",
            "[亲亲]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/8f/qq_thumb.gif",
            "[生病]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/b6/sb_thumb.gif",
            "[太开心]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/58/mb_thumb.gif",
            "[白眼]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/d9/landeln_thumb.gif",
            "[右哼哼]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/98/yhh_thumb.gif",
            "[左哼哼]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/6d/zhh_thumb.gif",
            "[嘘]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/a6/x_thumb.gif",
            "[衰]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/af/cry.gif",
            "[委屈]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/73/wq_thumb.gif",
            "[吐]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/9e/t_thumb.gif",
            "[哈欠]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/cc/haqianv2_thumb.gif",
            "[抱抱]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/27/bba_thumb.gif",
            "[怒]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/7c/angrya_thumb.gif",
            "[疑问]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/5c/yw_thumb.gif",
            "[馋嘴]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/a5/cza_thumb.gif",
            "[拜拜]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/70/88_thumb.gif",
            "[思考]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/e9/sk_thumb.gif",
            "[汗]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/24/sweata_thumb.gif",
            "[困]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/40/kunv2_thumb.gif",
            "[睡]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/96/huangliansj_thumb.gif",
            "[钱]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/90/money_thumb.gif",
            "[失望]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/0c/sw_thumb.gif",
            "[酷]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/40/cool_thumb.gif",
            "[色]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/20/huanglianse_thumb.gif",
            "[哼]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/49/hatea_thumb.gif",
            "[鼓掌]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/36/gza_thumb.gif",
            "[晕]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/d9/dizzya_thumb.gif",
            "[悲伤]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/1a/bs_thumb.gif",
            "[泪]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/9d/sada_thumb.gif",
            "[偷笑]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/19/heia_thumb.gif",
            "[抓狂]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/62/crazya_thumb.gif",
            "[黑线]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/91/h_thumb.gif",
            "[阴险]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/6d/yx_thumb.gif",
            "[怒骂]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/60/numav2_thumb.gif",
            "[互粉]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/89/hufen_thumb.gif",
            "[心]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/40/hearta_thumb.gif",
            "[伤心]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/ea/unheart.gif",
            "[猪头]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/58/pig.gif",
            "[熊猫]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/6e/panda_thumb.gif",
            "[兔子]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/81/rabbit_thumb.gif",
            "[ok]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/d6/ok_thumb.gif",
            "[耶]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/d9/ye_thumb.gif",
            "[good]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/d8/good_thumb.gif",
            "[no]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/ae/buyao_org.gif",
            "[赞]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/d0/z2_thumb.gif",
            "[来]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/40/come_thumb.gif",
            "[弱]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/d8/sad_thumb.gif",
            "[草泥马]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/7a/shenshou_thumb.gif",
            "[神马]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/60/horse2_thumb.gif",
            "[囧]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/15/j_thumb.gif",
            "[浮云]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/bc/fuyun_thumb.gif",
            "[给力]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/1e/geiliv2_thumb.gif",
            "[围观]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/f2/wg_thumb.gif",
            "[威武]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/70/vw_thumb.gif",
            "[奥特曼]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/bc/otm_thumb.gif",
            "[礼物]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/c4/liwu_thumb.gif",
            "[钟]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/d3/clock_thumb.gif",
            "[话筒]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/9f/huatongv2_thumb.gif",
            "[蜡烛]": "http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/d9/lazhuv2_thumb.gif"
        };
        var isopenEmoji = !1;
        var index_emoji = 0;
        $(function () {
            init_initEmoji();
        });

        function init_initEmoji() {
            var b, a = "";
            for (b in emoji) a += "<span class='item_emoji' id='emoji_" + b + "' onclick='click_emojiItems(id);'  title='" + b + "'><img class='imgitem_emoji' src='" + emoji[b] + "' /></span>";
            $(".emoji").click(function () {
                isopenEmoji ? (isopenEmoji = !1, layer.close(index_emoji)) : (isopenEmoji = !0, index_emoji = layer.tips("<div  class='list_emoji'>" + a + "</div>", ".emoji", {
                    tips: [1, "#fff"],
                    time: 0,
                    area: "auto",
                    maxWidth: 405,
                    shift: 5
                }))
            })
        }

        function click_emojiItems(a) {
            $("#message").insertAtCaret(a.split("_")[1])
            layer.close(index_emoji)
        }

        function chg_emoji(a, b) {
            var g, h, c = a.match(/\[.*?]/gi),
                d = "",
                e = "",
                f = "";
            if (c) {
                for (g = 0; g < c.length; g++) {
                    -1 != c[g].indexOf(".") ? -1 != c[g].indexOf(".wav") ? (e = c[g].replace("[", "").replace("]", ""), e && (a = a.replace(c[g], '<audio controls="controls"><source src="Voice/' + $.trim(e) + '"></audio>'))) : -1 != c[g].indexOf(".rar") ? (f = c[g].replace("[", "").replace("]", ""), f && (h = f.split("|"), a = a.replace(c[g], '<a href="Files/' + h[2] + '" target="_blank">' + '<img style="float:left;" src="IMG/rarico.png" />' + '<div style="float:left;margin-left:5px;font-size:18px;">' + '<div style="margin-bottom:10px;">' + h[0] + '</div><div style="color:orange;">' + h[1] + "kb</div></div></a>"))) : (d = c[g].replace("[", "").replace("]", ""), d && (a = a.replace(c[g], "<a href='IMG/Upload/" + b + "/" + d + "' target='_blank'><img onerror='errpic(this)' style='max-width:380px;' src='IMG/Upload/" + b + "/" + d + "' /></a>"))) : a = a.replace(c[g], "<img src='" + emoji[c[g]] + "' />");
                }
            }
            return a
        }

        $.fn.extend({
            insertAtCaret: function (a) {
                var c, d, e, b = $(this)[0];
                document.selection ? (this.focus(), sel = document.selection.createRange(), sel.text = a, this.focus()) : b.selectionStart || "0" == b.selectionStart ? (c = b.selectionStart, d = b.selectionEnd, e = b.scrollTop, b.value = b.value.substring(0, c) + a + b.value.substring(d, b.value.length), this.focus(), b.selectionStart = c + a.length, b.selectionEnd = c + a.length, b.scrollTop = e) : (this.value += a, this.focus())
            }
        })
    </script>

    <script>
        // 图片
        var isopenImg = !1;
        var index_img = 0;
        var uploadPic = [];

        $(function () {
            $("#a_uploadimg").click(function () {
                init_uploadPic()
            })
        });

        function init_uploadPic() {
            isopenImg ? (isopenImg = !1, layer.close(index_img)) : (isopenImg = !0, index_img = layer.tips("<div id='uploadimg_list' style='height:250px;'></div><button id='uploadimg_upload' class='btn btn-default' type='button'><span style='color:orange;margin-right:5px;' class='glyphicon glyphicon-picture'></span><span class='sp_uploadtxt'>上传</span></button><input id='uploading_file' type='file' style='display:none;' /><div id='uploadimg_pages' style='float:right;margin-top:5px;'></div>", "#a_uploadimg", {
                tips: [1, "#fff"],
                time: 0,
                area: ["390px", "300px"],
                shift: 5
            }), bind_imglist(1), bind_imgpage(), isBeforeUpload = !1, $("#uploadimg_upload").click(function () {
                isBeforeUpload = !1, document.getElementById("uploading_file").click()
            }), $("#uploading_file").change(function () {
                var a, b, c;
                if (!isBeforeUpload) if (a = document.getElementById("uploading_file").files[0], b = a.size / 1024, c = new FormData, c.append("upload_file", a), -1 != a.name.toLowerCase().indexOf(".gif")) {
                    if (b > 500) return isBeforeUpload = !0, $("#uploading_file").val(""), layer.alert("gif图片上传失败,当前最大限制500kb", {
                        icon: 5,
                        title: "上传结果"
                    }), !1;
                    imgupload_file(c)
                } else b > 500 ? ($("#uploadimg_upload").attr("disabled", !0), $(".sp_uploadtxt").html("上传中..."), lrz(this.files[0], {
                    width: 500
                }, function (a) {
                    imgupload_base64(a.base64)
                })) : imgupload_file(c)
            }))
        }

        function imgupload_file(a) {
            $.ajax({
                url: "Act/h_main.ashx?act=uploadImg",
                type: "POST",
                data: a,
                cache: !1,
                contentType: !1,
                processData: !1,
                success: function (a) {
                    var b, c, d;
                    if ($("#uploadimg_upload").attr("disabled", !1), $(".sp_uploadtxt").text("上传"), isBeforeUpload = !0, $("#uploading_file").val(""), b = $.parseJSON(a), c = !1, "Fail" == b.state) return layer.alert(b.msg, {
                        icon: 5,
                        title: "上传结果"
                    }), void 0;
                    for (d = 0; d < uploadPic.length; d++) if (uploadPic[d] == b.msg) {
                        c = !0;
                        break
                    }
                    c || uploadPic.splice(0, 0, b.msg), bind_imglist(1), bind_imgpage()
                }
            })
        }

        function imgupload_base64(a) {
            $("#uploadimg_upload").attr("disabled", !0), $(".sp_uploadtxt").html("上传中..."), $.post("Act/h_main.ashx?act=uploadPhoto", {
                base64str: a
            }, function (a) {
                var b, c, d;
                if ($("#uploadimg_upload").attr("disabled", !1), $(".sp_uploadtxt").text("上传"), isBeforeUpload = !0, $("#uploading_file").val(""), b = $.parseJSON(a), c = !1, "Fail" == b.state) return layer.alert(b.msg, {
                    icon: 5,
                    title: "上传结果"
                }), void 0;
                for (d = 0; d < uploadPic.length; d++) if (uploadPic[d] == b.msg) {
                    c = !0;
                    break
                }
                c || uploadPic.splice(0, 0, b.msg), bind_imglist(1), bind_imgpage()
            })
        }

        function bind_imglist(a) {
            var d, b = "",
                c = "";
            for (d = 10 * (a - 1) ; 10 * a > d; d++) uploadPic[d] && (c = uploadPic[d].replace(".", "_"), b += "<div style='height:64px;float:left;margin:25px 5px;'><img id='uploadimgitem_" + uploadPic[d].replace(".", "_") + "'onclick='click_selimg(id);' onmouseover='mouseover_zoomimg(id);' onmouseout='mouseout_closezoom();' style='height:64px;width:64px;' src='IMG/Upload/" + $.cookie("user_id") + "/" + uploadPic[d] + "' /></div>");
            $("#uploadimg_list").html(b)
        }

        function fun_getuploadimg() {
            $.getJSON("Act/h_main.ashx", {
                act: "getUploadImg"
            }, function (a) {
                -1 != a.code && (uploadPic = a.msg)
            })
        }

        function bind_imgpage() {
            laypage({
                cont: "uploadimg_pages",
                pages: Math.ceil(uploadPic.length / 10),
                first: !1,
                groups: 5,
                last: !1,
                prev: !1,
                next: !1,
                jump: function (a, b) {
                    b || bind_imglist(a.curr)
                }
            })
        }
    </script>

    <script>
        // 涂鸦
        $(function () {
            $("#a_doodle").click(function () {
                init_doodle()
            })
        });

        function init_doodle() {
            index_doodle = layer.open({
                type: 2,
                title: !1,
                closeBtn: 0,
                shadeClose: !0,
                skin: "layui-layer-rim",
                area: ["756px", "415px"],
                content: ["Doodle", "no"]
            })
        }
    </script>

    <script>
        // 昵称
        var NickName = {
            FName: ["美丽的", "帅气的", "善良的", "高大的", "傲娇的", "猥琐的", "富有的"],
            LName: ["青蛙", "花猫", "金鱼", "菊花", "领导", "苹果", "老师"]
        };
        $(function () {
            
            $("#btn_getnick").click(function () {
                fun_getnickname(!1)
            });
            $("#inp_nickname").change(function () {
                $.trim($("#inp_nickname").val()) && ($.cookie("user_nickname", $.trim($("#inp_nickname").val()), {
                    expires: 365
                }));
            });
        });

        // 随机获取用户名
        function fun_getnickname(a) {
            if ($.cookie("user_id") && $.cookie("user_nickname") && a) {
                $("#inp_nickname").val($.cookie("user_nickname"));
            }
            else {
                var timestamp = Date.parse(new Date());
                var randomName = NickName.FName[parseInt(Math.random() * NickName.FName.length)] + NickName.LName[parseInt(Math.random(NickName.LName.length) * NickName.LName.length)];

                if (randomName) {
                    $.cookie("user_id") || $.cookie("user_id", timestamp, {
                        expires: 365
                    }),
                    $.cookie("user_nickname", randomName, {
                        expires: 365
                    }),
                    $("#inp_nickname").val(randomName);
                }
                else {
                    alert("昵称获取失败！");
                }
            }
            $("#inp_userid").val($.cookie("user_id"));
        }
    </script>
</head>
<body>
    <div style="float:left;width:30%;margin-left:10px;">
        <div class="input-group">
            <span class="input-group-addon" style="color:orange;">你的昵称</span>
            <input id="inp_nickname" type="text" maxlength="10">
            <span id="btn_getnick" style="background-color: orange;"><a href="#">重置</a></span>
            <input id="inp_userid" type="hidden" value="" />
            <input id="inp_userconn" type="hidden" value="" />
            <input id="to_userconn" type="hidden" value="" />
            <input id="to_usernick" type="hidden" value="" />
        </div>
        <div>
            <textarea style="width:90%;height:80px;margin-top:10px;" id="message"></textarea>

            <div style="margin-top:4px;height:30px;">
                <a class="emoji" style="margin-right:10px;" data-toggle="popover" data-placement="top" title="表情">
                    <img height="20" width="20" style="outline-width:40px;" class="img_emoji" src="http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/5c/huanglianwx_thumb.gif">
                </a>
                <a id="a_uploadimg" style="margin-right:10px;" title="上传图片">
                    <img height="20" width="20" style="padding-top:4px;" src="http://www.blue-zero.com/Chat/IMG/uploadpic.png">
                </a>
                <a id="a_uploadfile" style="margin-right:10px;" title="上传文件">
                    <img height="20" width="20" src="http://www.blue-zero.com/Chat/IMG/uploadfile.png">
                </a>
                <a id="a_doodle" style="margin-right:10px;" title="涂鸦">
                    <img height="20" width="20" src="http://www.blue-zero.com/Chat/IMG/doodle.png">
                </a>
                <a style="cursor:default;margin-right:10px;">|</a>
                <a id="a_getphoto" style="margin-right:10px;" title="拍照">
                    <img height="20" width="20" src="http://www.blue-zero.com/Chat/IMG/camera.png">
                </a>
                <a id="a_record" style="margin-right:10px;" title="录音">
                    <img height="20" width="20" src="http://www.blue-zero.com/Chat/IMG/record.png">
                </a>
                <input type="button" id="sendmessage" value="Send" style="height:25px;" />
            </div>
        </div>
        <div id="OnlineUsers">

        </div>
    </div>
    <div id="contentmsg" style ="position: absolute; width: 500px; height: 500px;margin:10px 0 0 500px;">
        <div class="container" style="top:0px;left:0px;" data-connid=''>
            <ul class="discussion" data-connid=''></ul>
        </div>
    </div>
</body>
</html>


<script type='text/javascript'>
    Date.prototype.format = function (format) {
        var o = {
            "M+": this.getMonth() + 1, //month
            "d+": this.getDate(), //day
            "h+": this.getHours(), //hour
            "m+": this.getMinutes(), //minute
            "s+": this.getSeconds(), //second
            "q+": Math.floor((this.getMonth() + 3) / 3), //quarter
            "S": this.getMilliseconds() //millisecond
        }

        if (/(y+)/.test(format)) {
            format = format.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        }

        for (var k in o) {
            if (new RegExp("(" + k + ")").test(format)) {
                format = format.replace(RegExp.$1, RegExp.$1.length == 1 ? o[k] : ("00" + o[k]).substr(("" + o[k]).length));
            }
        }
        return format;
    }

    $(function () {
        var chat = $.connection.chatHub;
        // 添加消息
        chat.client.addNewMessageToPage = function (name, message) {
            if (name == $.cookie("user_nickname")) {
                $('.discussion').append('<li class=\"rightmsg\"><strong>' + htmlEncode(name)
    + '</strong>: ' + (new Date()).format("yyyy-MM-dd hh:mm:ss") + ' ▼<div class=\"rightcon\">' + chg_emoji(htmlEncode(message)) + '</div></li>');
            }
            else {
                $('.discussion').append('<li class=\"leftmsg\"><strong>' + htmlEncode(name)
    + '</strong>: ' + (new Date()).format("yyyy-MM-dd hh:mm:ss") + ' ▼<div class=\"leftcon\">' + chg_emoji(htmlEncode(message)) + '</div></li>');
            }
        };

        // 添加私信消息
        chat.client.addNewMessageToPerPage = function (conn, name, message) {
            var priul = $(".private[data-connid = '" + conn + "']");
            if (priul.length <= 0) {
                var allul = $('.private').length + 1;
                var elePosition = "top:" + allul*10+"px;left:" + allul*10+"px;";
                $('#contentmsg').append('<div class="container" style="' + elePosition + '" data-connid="' + conn + '"><ul class="private" data-connid="' + conn + '"></ul></div>');
                priul = $(".private[data-connid = '" + conn + "']");
                RefreshShow();
            }

            if (name == "我") {
                priul.append('<li class=\"rightmsg\"><strong>我</strong>: ' + (new Date()).format("yyyy-MM-dd hh:mm:ss") + ' ▼<div class=\"rightcon\">' + chg_emoji(htmlEncode(message)) + '</div></li>');
            }
            else {
                priul.append('<li class=\"leftmsg\"><strong>' + htmlEncode(name)
    + '</strong>: ' + (new Date()).format("yyyy-MM-dd hh:mm:ss") + ' ▼<div class=\"leftcon\">' + chg_emoji(htmlEncode(message)) + '</div></li>');
            }
        };

        // 用户登录
        chat.client.CurUserList = function (UserList) {
            // 解析Json
            var data = eval("(" + UserList + ")");
            var html = "<dl onclick=\"javascript:sendPerMessage('','')\" class=\"toAll\" data-connid=''><dd style=\"color:red;\">所有人</dd></dl>";
            for (var i = 0; i < data.length; i++) {
                //这里我们做了一个判断 就是 解析用户列表Json时 如果用户的ID 就是当前用户的ID 那么就不添加 这跟QQ不一样啊 QQ中好友列表中是有自己的
                if (data[i].UserId != $("#inp_userid").val()) {
                    html += "<dl onclick=\"javascript:sendPerMessage('" + data[i].ConnectionId + "','" + data[i].UserNickName + "')\" class=\"toOne\"  data-connid='" + data[i].ConnectionId + "'><dd>" + data[i].UserNickName + "</dd></dl>";
                }
            }
            //更新页面用户列表
            $("#OnlineUsers").html(html);
            var curconnid = $("#to_userconn").val();
            $("#OnlineUsers dl[data-connid='" + curconnid + "']").addClass("bd1");
        };

        //$('#displayname').val(prompt('Enter your name:', ''));
        // 为消息输入框设置初始焦点。
        $('#message').focus();
        // 启动连接
        $.connection.hub.start().done(function () {

            // 获取昵称和标识
            fun_getnickname(!0);
            // 调用hub的登录方法.
            chat.server.register($('#inp_userid').val(), $('#inp_nickname').val());

            $('#sendmessage').click(function () {
                if ($('#message').val().length > 0) {
                   var conn = $("#to_userconn").val();
                   var nick = $("#to_usernick").val();
                   if (conn.length < 1) {
                        // 调用hub的送信方法.
                        chat.server.sendToAll($('#inp_nickname').val(), $('#message').val());
                    }
                    else {
                       // 调用hub的送信方法.
                       chat.server.sendSingle(conn, nick, $('#inp_nickname').val(), $('#message').val());
                    }


                    // 清空内容，重置焦点
                    $('#message').val('').focus();
                }
            });
        });
    });
    // 这个可选功能使html-encodes消息显示在页面上。
    function htmlEncode(value) {
        var encodedValue = $('<div />').text(value).html();
        return encodedValue;
    };

    function sendPerMessage(conn,nick) {
        $("#to_userconn").val(conn);
        $("#to_usernick").val(nick);

        RefreshShow();
    };

    function RefreshShow() {
        var curconnid = $("#to_userconn").val();
        $("#OnlineUsers dl").removeClass("bd1");
        $("#OnlineUsers dl[data-connid='" + curconnid + "']").addClass("bd1");

        $(".container").css("z-index", "1");
        $(".container[data-connid='" + curconnid + "']").css("z-index", "5");
    };
</script>