<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>感恩节快乐</title>
     <style>
    *{padding:0px;margin:0px;} /*这是为了消除默认dom元素的内外边距，使得我们写css的时候更精确*/
body{background:#000;}
#photos{
    width:110px;            /*宽度*/
    height:180px;          /*高度*/
    border:1px solid #ccc;  /*加一个灰色边框*/
    margin:160px auto;     /*水平居中，高度距离顶部100px*/
    transform-style:preserve-3d;/*设置3d环境*/
    perspective:800;      /*设置景深为800px*/
}
     </style>
    <script>

    </script>
</head>
<body>
    <div id="photos"></div>
</body>
</html>
